name: Global Sentiment Monitor

on:
  schedule:
    # 建议设置在未来的 1-2 小时后，给它足够的时间生效
    # 例如：北京时间 11:30 (UTC 03:30)
    - cron: '30 3 * * *'
  workflow_dispatch: # 允许手动点击
  push:              # 【新增】每次提交代码自动运行一次，用来测试
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Analysis
        env:
          PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
        run: python main.py
